.loginreg{
    margin-top: 3rem;
    .bx--text-input-wrapper{
        width: 20rem;
        float: none;
    }
  }
.guest{
    margin-top: 3rem;
}
#managebtn, #fillerbtn{
    margin-right: 1rem;
    margin-top: 2rem;
}

.mainWrap{
    margin-left: 15rem;
}