.displayDelete{
    max-width: 90%;
    margin: 2rem;

}

.bx--text-input-wrapper{
    width: 20rem;
    float: left;
}

.menu-Button{
    margin: 1rem;
    
}
.mainWrap{
    left: 25%;
    top:30%;
    width: 50rem;
    position: absolute;
}
.uploadUpdate{
    margin-left: 22rem
}